VITE_PORT=8100
VITE_API_URL_LOGIN=http://localhost:8080/api
VITE_API_URL_MEMBERSHIP=http://localhost:8081/api
VITE_API_URL_QR=http://localhost:8090/api
VITE_COGNITO_REGION=us-east-2
VITE_COGNITO_USER_POOL_ID=us-east-2_example
VITE_COGNITO_CLIENT_ID=exampleclientid1234567890
VITE_STRIPE_PUBLIC_KEY=pk_test_example
VITE_SPOONACULAR_API_KEY=example_spoonacular_key
