# ==========================================
# Configuración de GYMETRA - Admin Frontend
# ==========================================

# Base URLs para los microservicios
VITE_API_URL_LOGIN=http://localhost:8080/api
VITE_API_URL_MEMBERSHIP=http://localhost:8081/api
VITE_API_URL_QR=http://localhost:8090/api

# AWS Cognito (Autenticación)
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxx
