VITE_PORT=8101
VITE_API_URL_LOGIN=http://localhost:8080/api
VITE_API_URL_MEMBERSHIP=http://localhost:8081/api
VITE_API_URL_QR=http://localhost:8090/api
VITE_COGNITO_REGION=us-east-2
VITE_COGNITO_USER_POOL_ID=your_user_pool_id
VITE_COGNITO_CLIENT_ID=your_client_id
