# Configuración de desarrollo para GYMETR-Membership
# Copiar este archivo como .env y ajustar valores

# Puerto del servicio
GYMETRA_MEMBERSHIP_PORT=8081

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gymdb
DB_USERNAME=postgres
DB_PASSWORD=1234567890

# Stripe (modo prueba)
STRIPE_SECRET_KEY=sk_test_51S9c29RPJMMOJ1bv659gBVpMP1G4gZtnrHGPQQ7ivdEeKDeXmPlW69STvvv982mZYq0iYjPaxZATGFIIh55KLvzr00WFkkr0zq
STRIPE_PUBLIC_KEY=pk_test_51S9c29RPJMMOJ1bv659gBVpMP1G4gZtnrHGPQQ7ivdEeKDeXmPlW69STvvv982mZYq0iYjPaxZATGFIIh55KLvzr00WFkkr0zq

# Configuración de correo SMTP
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=jsnq15@gmail.com
MAIL_PASSWORD=qdtdntnyobzvqmxg